umowa/PNT, Umowa szkolenie AI, 15.09.2026.docx
umowa/*
CLAUDE.md
agenda/opis_biznesu.md
day-1/gamma_prezentacja2_data-first-ai-second.md
day-1/plan_prezentacja2_data-first-ai-second.md
materialy/kontekst_storytelling_Kozminski.md
materialy/Kozminski_CDO_Storytelling.pdf
agenda/Agenda_szkolenia.pdf
day-3/diploms/Cloudkasper Certyfikat.pdf
day-3/diploms/Certyfikat - Małgorzata Sowada-Kupiec.pdf
.gitignore
day-3/diploms/Certyfikat - Renata Ćwirzeń-Szymańska.pdf
day-3/diploms/Certyfikat - Marcin Baraniewicz.pdf
day-3/repetion/~$repetition.pptx
